# Example 5.10

In [2]:
def greet():
    print("Hello, welcome to Python!")
greet()

Hello, welcome to Python!

# Example 5.11

In [3]:
def add_numbers(a, b):
    return a + b

result = add_numbers(5, 10)
print("Sum:", result)

Sum: 15

# Example 5.12

In [4]:
def power(base, exponent=2):
    return base ** exponent

print(power(5))      # 5 squared
print(power(5, 3))   # 5 cubed

25
125

# Example 5.13

In [5]:
def square(num):
    return num * num

print(square(4))  # 16

16

# Example 5.14

In [6]:
def arithmetic_operations(a, b):
    sum_result = a + b
    difference = a - b
    return sum_result, difference

s, d = arithmetic_operations(10, 5)
print(f"Sum: {s}, Difference: {d}")

Sum: 15, Difference: 5

# Example 5.15

In [7]:
x = 10  # Global variable

def access_variable():
    x = 5  # Local variable
    print("Inside function:", x)

access_variable()
print("Outside function:", x)

Inside function: 5
Outside function: 10

# Example 5.16

In [8]:
x = 10

def modify_global():
    global x
    x = 20

modify_global()
print(x)  # 20

20

# Example 5.17

In [9]:
def factorial(n):
    if n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))  # 120

120

# Example 5.18

In [10]:
square = lambda x: x * x
print(square(4))  # 16

16

# Example 5.19

In [11]:
add = lambda a, b: a + b
print(add(5, 3))  # 8

8

# Example 5.20

In [12]:
numbers = [1, 2, 3, 4]
squared = map(lambda x: x ** 2, numbers)
print(list(squared))

[1, 4, 9, 16]

# Example 5.21

In [13]:
numbers = [1, 2, 3, 4, 5]
evens = filter(lambda x: x % 2 == 0, numbers)
print(list(evens))

[2, 4]

# Example 5.22

In [14]:
students = [("John", 90), ("Jane", 80), ("Dave", 85)]
sorted_students = sorted(students, key=lambda x: x[1])
print(sorted_students)

[('Jane', 80), ('Dave', 85), ('John', 90)]

# Example 5.23

In [15]:
def square_number(x):
    return x**2

# Example 5.24

In [16]:
square_number(4)

16

# Example 5.25

In [19]:
def arithmetic(a, b):
    return a + b, a - b

# Example 5.26

In [20]:
def power_function(base, exponent=2):
    return base**exponent

# Example 5.27

In [21]:
def square_number(x):
    """This function squares x"""
    return x**2

# Example 5.28

In [22]:
def factorial(n):
    if n == 1:
        return 1
    return n * factorial(n-1)

# Example 5.29

In [23]:
square = lambda x: x**2

# Example 5.30

In [24]:
array = [1, 2, 3, 4]
result = list(map(lambda x: x**2, array))

# Example 5.31

In [25]:
print('Hello Python')

Hello Python

# Example 5.33

In [26]:
def square(x):
    return x**2

def cube(x):
    return x**3

# Example 5.34

In [27]:
def double_array(x):
    return [i * 2 for i in x]

# Example 5.35

In [28]:
import math
f = math.sin
result = f(math.pi/2)

# Example 5.36

In [29]:
def absolute_value(x):
    return x if x > 0 else -x

# Example 5.37

In [30]:
def sum_numbers(n):
    y = 0
    for i in range(1, n+1):
        y += i
    return y

# Example 5.38

In [31]:
def apply_function(f, x):
    return f(x)
apply_function(lambda x: x**0.5, 16)

4.0

# Example 5.39

In [32]:
def outer():
    def inner():
        print('Inner function')
    inner()

# Example 5.40

In [33]:
x = 10
def set_global():
    global x
    x = 20

# Example 5.41

In [34]:
def power_function(base, exponent=2):
    return base**exponent